.Root {
  background-color: transparent;
  border: none;
  outline: none !important;
  transition: 0.2s;
  height: 36px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  border-radius: 8px;
  font-size: larger;
  font-weight: 900;
}

.Root:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(128, 128, 128, 0.6);
}

.Root:disabled {
  color: rgb(200, 200, 200);
}

.Root:disabled:hover {
  color: rgb(215, 215, 215);
}

.Secondary {
  color: grey;
  border: 2px solid grey;
}

.Secondary:hover {
  color: white;
  background-color: grey;
  -webkit-box-shadow: 0px 0px 15px 0px grey;
  -moz-box-shadow: 0px 0px 15px 0px grey;
  box-shadow: 0px 0px 15px 0px grey;
}

.Danger {
  color: red;
  border: 2px solid red;
}

.Danger:hover {
  color: white;
  background-color: red;
  -webkit-box-shadow: 0px 0px 15px 0px red;
  -moz-box-shadow: 0px 0px 15px 0px red;
  box-shadow: 0px 0px 15px 0px red;
}

.Success {
  color: green;
  border: 2px solid green;
}

.Success:hover {
  color: white;
  background-color: rgba(0, 90, 0, 0.8);
  -webkit-box-shadow: 0px 0px 15px 0px green;
  -moz-box-shadow: 0px 0px 15px 0px green;
  box-shadow: 0px 0px 15px 0px green;
}

.Danger,
.Success,
.Secondary {
  font-size: medium;
}
