.Root {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
}

.Colon {
	font-weight: 900;
	font-size: xx-large;
	animation: colon-anim 2s linear infinite;
}

@keyframes colon-anim {
	0% {
		color: black;
	}
	50% {
		color: grey;
	}
	100% {
		color: black;
	}
}
